<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Feedback - User Details {% endblock %}

<!-- Body Content -->
{% block body %}

<div>
  <h3>User Details</h3>
  <p>Full Name: {{ user.first_name }} {{ user.last_name }}</p>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>

  <form action="/users/{{user.username}}/delete" method="POST">
    <button class="btn btn-danger" type="submit">Delete User</button>
  </form>
</div>
<hr />

<div>
  <a href="/users/{{user.username}}/feedback/add">
    <button class="btn btn-info" type="button">Add feedback</button>
  </a>
  <h3 class="py-2">Feedback</h3>
  <ol>
    {% for feedback in feedbacks %}
    <li class="py-2">
      <a href="/feedback/{{feedback.id}}/update"
        ><h5>{{ feedback.title }}</h5></a
      >
      <p>{{ feedback.content }}</p>
      <form action="/feedback/{{feedback.id}}/delete" method="POST">
        <button class="btn btn-warning" type="submit">Delete</button>
      </form>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock%}
